{
  "**/*.{ts,tsx,js,jsx}": [
    "next lint --fix --file",
    "prettier --write",
    "bash -c 'bun run typecheck'"
  ],
  "**/*.{md,mdx,json}": ["prettier --write"],
  "**/*.css": ["prettier --write"]
}
