---
interface Props {
  relatedSlugs?: string[];
}

import Heading from '../ui/Heading.astro';
import NotePreview from './NotePreview.astro';
import { getPreviewNotes } from '../../lib/content';

const { relatedSlugs } = Astro.props;

if (!relatedSlugs || relatedSlugs.length === 0) {
  return;
}

const allNotes = await getPreviewNotes();
const relatedNotes = allNotes.filter(note => relatedSlugs.includes(note.slug));

if (relatedNotes.length === 0) {
   return;
}
---

<div class="my-12">
    <Heading level="h2" class="mb-6">Related Notes</Heading>
    <ul class="-mx-4 space-y-2">
        {relatedNotes.map((note) => (
            <li>
                <NotePreview note={note} />
            </li>
        ))}
    </ul>
</div>
