@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: 222 22% 5%;
    --color-background: 0 0% 100%;
    --color-primary: 245 100% 60%;
    --color-gray-100: 225 25% 95%;
    --color-gray-200: 225 16% 90%;
    --color-gray-300: 225 8% 80%;
    --color-gray-400: 225 8% 70%;
    --color-gray-500: 225 7% 60%;
    --color-gray-600: 225 15% 50%;
    --color-gray-700: 225 12% 40%;
    --color-gray-900: 225 25% 20%;
    --color-gray-1000: 225 15% 15%;
  }

  .dark {
    --color-text: 0 0% 100%;
    --color-background: 210 30% 8%;
    --color-primary: 230 100% 69%;
    --color-gray-100: 210 15% 20%;
    --color-gray-200: 210 15% 25%;
    --color-gray-300: 210 10% 40%;
    --color-gray-400: 210 9% 45%;
    --color-gray-500: 210 8% 50%;
    --color-gray-600: 210 12% 55%;
    --color-gray-700: 210 14% 66%;
    --color-gray-900: 210 25% 88%;
    --color-gray-1000: 210 25% 96%;
  }
}

@layer base {
  body {
    @apply bg-background;
    font-feature-settings: "rlig" 1 "calt" 1;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}
