@import "@portaljs/remark-callouts/styles.css";
@reference './globals.css';

.prose .anchor {
  /* Trying to replicate prose-headings because the link tag styles take
      precedence
  */
  font-weight: bold;
  color: hsl(var(--color-text));
  text-decoration: none;
  cursor: pointer;
}

/* Dirty hack. Should figure out a better way */
html.light code[data-theme="light"],
html.light pre[data-theme="light"] {
  color: hsl(var(--shiki-light));
  background-color: hsl(var(--shiki-light-bg));
}

html.light code[data-theme="dark"],
html.light pre[data-theme="dark"] {
  display: none;
}

html.dark code[data-theme="dark"],
html.dark pre[data-theme="dark"] {
  color: hsl(var(--shiki-dark));
  background-color: hsl(var(--shiki-dark-bg));
}

html.dark code[data-theme="light"],
html.dark pre[data-theme="light"] {
  display: none;
}

svg p {
  font-size: unset !important;
  line-height: normal !important;
}

/* inline code fragments */
code .line {
  word-break: break-word;
  border-radius: 0.375rem;
  padding: 2px 2px;
  font-size: 0.95rem;
  background: hsl(var(--color-syntax-bg));
  font-weight: normal;
}
/* inline code fragments end */

/* code blocks */
[data-rehype-pretty-code-fragment] pre > code {
  @apply no-scrollbar;
  box-decoration-break: clone;
  counter-reset: line;
  display: grid;
  min-width: 100%;
  overflow-x: auto;
  word-wrap: break-word;
  /* border-radius: 0.5rem; */
  background-color: inherit;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.9rem;
}

[data-rehype-pretty-code-fragment] pre > code [data-line] {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

[data-rehype-pretty-code-fragment] [data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  margin-right: 1rem;
  width: 1.5rem;
  text-align: right;
  color: text-gray-400;
}

[data-rehype-pretty-code-fragment] [data-highlighted-line] {
  width: 100%;
  background-color: hsla(var(--code-bg), 0.9);
}

[data-rehype-pretty-code-fragment] [data-line] span {
  position: relative;
}

[data-rehype-pretty-code-fragment] [data-highlighted-line] span {
  position: relative;
}

[data-rehype-pretty-code-fragment] [data-highlighted-chars] {
  border-radius: 0.375rem;
  background-color: hsla(var(--code-bg), 0.1);
  padding: 0.25rem;
}

.img-blur {
  filter: blur(0.375rem);
}

.img-unblur {
  animation: img-unblur 0.8s linear;
}

@keyframes img-unblur {
  from {
    filter: blur(12px);
  }

  to {
    filter: blur(0);
  }
}
